@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */

html, body {
  overflow-x: hidden;
}

body {
  font-family: "Varela Round", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}

a {
  color: #36C9F9;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #36C9F9;
  outline: none;
}

p {
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Varela Round", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #36C9F9;
}

::-moz-selection {
  color: #fff;
  background: #36C9F9;
}

::selection {
  color: #fff;
  background: #36C9F9;
}

.copyrights {
  text-indent: -9999px;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}

#fh5co-header {
  background-color: #27C8FB;
  background-image: linear-gradient(to bottom right, #DAEFF7, #27C8FB);
  height: 800px;
}

/* End icon Color */
.github-color {
  color: #333333;
  font-size: 32px !important;
}

.qrcode-color {
  color: #F5DE74;
}

.sa-color {
  color: #36C9F9;
}

/* Github SVG */
#github svg {
  transition: all 1s;
  fill: #222;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 80px;
  height: 80px;
  z-index: 99;
}

#github:hover svg {
  width: 160px;
  height: 160px;
}

/* Sunshine */
.sunshine {
  position: absolute;
  top: 0;
  left: 0;
  animation: floating ease-in-out 8s infinite;
}

.sunshine img {
  height: 100%;
  width: auto;
  transform: rotate(0deg);
}

/* Switch Language */
.language-button {
  position: absolute;
  margin: 20px 0 0 20px;
  display: inline-block;
z-index: 98;
}

.language-button button {
  padding: 4px 8px;
  display: inline-block;
  color: #86C8EB;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #86C8EB;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 400ms;
}

.language-button button:hover {
  color: white;
  background-color: rgba(107, 167, 223, 0.3);
}

.language-button button:hover+.language-tooltip {
  opacity: 1;
  transform: translate(0, 0);
}

.language-tooltip {
  position: absolute;
  top: 12%;
  left: 100%;
  margin: -10px 0 0 10px;
  padding: 4px 8px;
  z-index: 1;
  display: inline-block;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  background-color: rgba(107, 167, 223, 0.3);
  border-radius: 6px;
  opacity: 0;
  transform: translate(-6px, 0);
  transition: opacity 300ms, transform 200ms;
  pointer-events: none;
}

@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }

  25% {
    transform: translate(-2%, -3%) rotate(2deg);
  }

  50% {
    transform: translate(-1%, 1%) rotate(3deg);
  }

  75% {
    transform: translate(-3%, -2%) rotate(1deg);
  }

  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

@media screen and (max-width: 768px) {
  #fh5co-header {
    height: 1000px;
  }
}

#fh5co-header .intro {
  margin-top: 18em;
}

@media screen and (max-width: 768px) {
  #fh5co-header .intro {
    margin-top: 7em;
  }
}

#fh5co-header .intro #fh5co-logo {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.5;
}

#fh5co-header .intro #fh5co-logo a {
  border-bottom: none !important;
}

#fh5co-header .intro h2 {
  font-size: 24px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.95);
}

#fh5co-header .intro a {
  color: rgba(255, 255, 255, 0.95);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

#fh5co-header .intro a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}

#fh5co-header .intro .btn {
  border-bottom: none !important;
}

#fh5co-header .fh5co-intro-img {
  position: relative;
  bottom: -10em;
}

@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-intro-img {
    bottom: -5em;
  }
}

#fh5co-header .fh5co-intro-img img {
  max-width: 380px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-intro-img .img-1 {
    max-width: 380px;
  }
}

@media screen and (max-width: 480px) {
  #fh5co-header .fh5co-intro-img .img-1 {
    max-width: 100%;
  }
}

#fh5co-header .fh5co-intro-img .img-2 {
  position: absolute;
  top: 5em;
  right: -1em;
}

@media screen and (max-width: 992px) {
  #fh5co-header .fh5co-intro-img .img-2 {
    right: -10em;
  }
}

@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-intro-img img {
    max-width: 100%;
  }
}

#main {
  margin-top: 14em;
  clear: both;
}

@media screen and (max-width: 480px) {
  #main {
    margin-top: 8em;
  }
}

.fh5co-heading {
  margin-bottom: 3em;
}

.fh5co-testimonial {
  padding: 7em 0;
  background: #f2f2f2;
}

.fh5co-testimonial .review i {
  color: #d9d9d9;
}

.fh5co-testimonial .review i.colored {
  color: #FFC12D;
}

.fh5co-testimonial .testimony-slide {
  text-align: center;
}

.fh5co-testimonial .testimony-slide span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  display: block;
}

.fh5co-testimonial .testimony-slide figure {
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.fh5co-testimonial .testimony-slide figure img {
  width: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.fh5co-testimonial .testimony-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 70%;
  position: relative;
  padding: 0;
}

@media screen and (max-width: 992px) {
  .fh5co-testimonial .testimony-slide blockquote {
    width: 100%;
  }
}

.get-started .form-control {
  background: rgba(255, 255, 255, 0.4);
  border: none !important;
  color: #000;
  font-size: 16px !important;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.get-started .form-control::-webkit-input-placeholder {
  color: #000;
}

.get-started .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

.get-started .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

.get-started .form-control:-ms-input-placeholder {
  color: #000;
}

.get-started .form-control:focus {
  background: rgba(255, 255, 255, 0.7);
}

.get-started .btn {
  height: 54px;
  border: none !important;
  background: #118DF0;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}

.get-started .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}

.get-started .form-inline .form-group .form-control {
  width: 100%;
}

.fh5co-feature {
  height: 600px;
  overflow: hidden;
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 7em;
  padding-top: 4em;
}

.fh5co-feature.last-feature {
  margin-bottom: 0em;
  border-bottom: none;
}

@media screen and (max-width: 992px) {
  .fh5co-feature {
    overflow: hidden;
    height: inherit !important;
  }
}

.fh5co-feature .fh5co-copy {
  height: 600px;
  display: table;
}

@media screen and (max-width: 992px) {
  .fh5co-feature .fh5co-copy {
    display: block;
    height: inherit !important;
    text-align: center;
    margin-bottom: 30px;
  }
}

.fh5co-feature .fh5co-copy>.fh5co-copy-inner {
  display: table-cell;
  vertical-align: middle;
}

.fh5co-feature .fh5co-copy>.fh5co-copy-inner h2 {
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px 0;
}

.fh5co-feature .fh5co-copy>.fh5co-copy-inner h2:before {
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 2px;
  background: #118DF0;
  content: "";
}

@media screen and (max-width: 992px) {
  .fh5co-feature .fh5co-figure {
    text-align: center;
    margin-bottom: -10em;
  }
}

.fh5co-feature .fh5co-figure img {
  margin: 0 10px 0 10px;
  vertical-align: based;
  max-width: 360px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 992px) {
  .fh5co-feature .fh5co-figure img {
    max-width: 380px;
  }
}

@media screen and (max-width: 768px) {
  .fh5co-feature .fh5co-figure img {
    max-width: 90%;
  }
}

.fh5co-feature.fh5co-reverse .fh5co-figure {
  text-align: right;
}

@media screen and (max-width: 992px) {
  .fh5co-feature.fh5co-reverse .fh5co-figure {
    text-align: center;
  }
}

#get-started {
  padding: 7em 0;
  background: #00E0FF;
}

#get-started .fh5co-heading h2 {
  margin-bottom: 20px;
}

#get-started .fh5co-heading p {
  color: #008699;
  font-size: 18px;
  line-height: 1.8;
}

#get-started .btn {
  background: #118DF0;
}

#get-started .btn:hover, #get-started .btn:active, #get-started .btn:focus {
  background: #339df2;
  color: #fff;
}

#footer {
  padding: 7em 0;
}

#footer .fh5co-social {
  margin: 0;
  padding: 0;
}

#footer .fh5co-social li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#footer .fh5co-social li a {
  padding: 20px;
}

#footer .fh5co-social li a i {
  font-size: 30px;
}

#footer .fh5co-social li a:hover, #footer .fh5co-social li a:focus, #footer .fh5co-social li a:active {
  text-decoration: none;
}

#footer .copyright em {
  display: block;
  font-style: normal;
}

#features {
  padding: 7em 0;
}

#features .feature-center {
  text-align: center;
}

#features .feature-center .icon {
  width: 90px;
  height: 90px;
  background: #efefef;
  display: table;
  text-align: center;
  margin: 0 auto 40px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

#features .feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #118DF0;
}

#features .feature-center p, #features .feature-center h3 {
  margin-bottom: 10px;
}

#features .feature-center h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
}

#features .feature-center p {
  color: #a6a6a6;
}

.owl-carousel .owl-controls .owl-dot span {
  background: #e6e6e6;
}

.owl-carousel .owl-controls .owl-dot span:hover, .owl-carousel .owl-controls .owl-dot span:focus {
  background: #cccccc;
}

.owl-carousel .owl-controls .owl-dot:hover span, .owl-carousel .owl-controls .owl-dot:focus span {
  background: #cccccc;
}

.owl-carousel .owl-controls .owl-dot.active span {
  background: transparent;
  border: 2px solid #118DF0;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Varela Round", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 12px 20px;
}

.btn.btn-md {
  padding: 4px 20px !important;
}

.btn.btn-lg {
  padding: 18px 36px !important;
}

.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-wechat {
  background: #50B674;
  color: #fff;
  border: 2px solid #50B674;
}

.btn-wechat:hover, .btn-wechat:focus, .btn-wechat:active {
  background: #329655 !important;
  border-color: #329655 !important;
}

.btn-wechat.btn-outline {
  background: transparent;
  color: #50B674;
  border: 2px solid #50B674;
}

.btn-wechat.btn-outline:hover, .btn-wechat.btn-outline:focus, .btn-wechat.btn-outline:active {
  background: #50B674;
  color: #fff;
}

.btn-qq {
  background: #68A6E1;
  color: #fff;
  border: 2px solid #68A6E1;
}

.btn-qq:hover, .btn-qq:focus, .btn-qq:active {
  background: #4183C1 !important;
  border-color: #4183C1 !important;
}

.btn-qq.btn-outline {
  background: transparent;
  color: #68A6E1;
  border: 2px solid #68A6E1;
}

.btn-qq.btn-outline:hover, .btn-qq.btn-outline:focus, .btn-qq.btn-outline:active {
  background: #68A6E1;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}

.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}

.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}

.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}

.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}

.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}

.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn.with-arrow:hover {
  padding-right: 50px;
}

.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}

.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #118DF0;
}

.js .animate-box {
  opacity: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 11px;
	background-color: transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-button {
	background-color: transparent;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border: solid transparent;
	border-width: 1px 1px 1px 2px;
	background-color: #c5c5c5;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #bfbfbf;
}

::-webkit-scrollbar-track {
	border: solid #fff;
	border-width: 1px 1px 1px 2px;
	background-color: #fff;
	background-clip: content-box;
}

::-webkit-scrollbar-track-piece {
	border-left: 1px solid #ccc;
	background-color: transparent;
}

::-webkit-scrollbar:horizontal {
	height: 12px;
	background-color: transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-track:horizontal {
	background-color: #fff;
	background-clip: content-box;
}

::-webkit-scrollbar-track-piece:horizontal {
	border-top: 1px solid #ccc;
	border-left: 1px solid transparent;
}

::-webkit-scrollbar-thumb:horizontal {
	border: solid transparent;
	border-width: 2px 1px 2px 2px;
	background-color: #c5c5c5;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: #bfbfbf;
}

::-webkit-scrollbar-corner {
	display: none;
}

::-webkit-resizer {
	display: none;
}

::-webkit-scrollbar {
	width: 16px;
	background-color: transparent;
	background-clip: content-box;
	cursor: pointer;
}

::-webkit-scrollbar-button {
	background-color: transparent;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border: solid transparent;
	border-width: 6px;
	background-color: #c5c5c5;
	background-clip: content-box;
	cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #bfbfbf;
}

::-webkit-scrollbar-track {
	border: solid #fff;
	border-width: 1px 1px 1px 2px;
	background-color: #fff;
	background-clip: content-box;
}

::-webkit-scrollbar-track-piece {
	border-left: 1px solid #f0f4f5;
	background-color: transparent;
}

::-webkit-scrollbar:horizontal {
	height: 12px;
	background-color: transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-track:horizontal {
	background-color: #fff;
	background-clip: content-box;
}

::-webkit-scrollbar-track-piece:horizontal {
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
}

::-webkit-scrollbar-thumb:horizontal {
	border: solid transparent;
	border-width: 2px 1px 2px 2px;
	background-color: #c5c5c5;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: #bfbfbf;
}

::-webkit-scrollbar-corner {
	display: none;
}

/*# sourceMappingURL=style.css.map */